section#leagues {
	display: grid;
	grid-template-columns: repeat(3, 280px);
	justify-content: space-between;
	grid-gap: 5em;
	margin-top: 100px;
}

article.league header {
	position: relative;
	z-index: 1;
  text-align: center;
}
article.league {
	background-color: #ece6b0;
  z-index: 2;
}

