body {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	background-color: #2d2d2d;
}
header {
	position: relative;
	text-align: center;
	font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1em;
	background-color: #2d2d2d;
	color: #fff;
	text-shadow: 3px 3px 3px red, 0 0 36px #ece6b0;
}
header h1::first-letter {
	font-weight: 500;
	font-size: 1.5em;
}

article.content {
	max-width: 1024px;
	margin: auto;
}
